<h1>ジャンル一覧</h1>
<h2>音楽系</h2>
<ul>
  <li><%= @genre.name %></li>
  <li><%= @genre_2.name %></li>
  <li>カラオケ</li>
</ul>

<h2>鑑賞系</h2>
<ul>
  <li>アニメ</li>
  <li>映画</li>
  <li>天体観測</li>
  <li>歌舞伎</li>
</ul>