<div class="contact-thanks mt-5">
  <div class="contact-in rounded">
    <div class="page-header">
      <div class="thanks-p text-center p-5">お問い合わせいただきありがとうございました。</div>
      <p class="show-p">
        お問い合わせ内容については、確認の上、返信させていただきます。
      </p>
    </div>
  </div>
</div>