<div class="post-box">
  <div class="container">
      <div class="hobby-post rounded col-xs-offset-2 col-xs-8 float-center">
        <h1 class="font-family">投稿する</h1>
        <%= render 'hobbies/new-edit', hobby: @hobby %>
      </div>
  </div>
</div>