<div class="about-all">
  <div class="m-5 text-center">
    <h1 class="font-family abouttheme">Win Win Hobbyとは</h1>
    <p class="abouttheme">趣味を通して友達を作ることのできるサービスです!</p>
    <p class="abouttheme">趣味のことを教えることができたりそれを教えてもらったり出来るWinWinな関係を築く事が出来ます!</p>
  </div>

  <h2 class="m-5 pl-5 font-family howto">使い方</h2>
  <div class="container">
    <div class="imgone">
      <div class="col-md-12">
        <div class="m-5 howto">
          <h3 class="font-family about-p"><span>01</span>新規登録</h3>
          <div class="mt-3 abouttext">必要事項を入力してアカウントを登録してください！</div>
          <div class="signup-img"></div>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        <div class="m-5 float-right">
          <h3 class="font-family about-p"><span>02</span>自分の趣味<br>
          　　　OR<br>
          始めたい趣味のことを投稿</h3>
          <div class="abouttext">
            先生側で登録したなら自分の教えることのできる趣味！<br>
            生徒側で登録したなら始めたい趣味の事を投稿してください!<br>
            なるべく詳細に投稿した方がマッチングしやすいです！
          </div>
          <div class="post-img"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="m-5 float-left">
          <h3 class="font-family about-p">
           <span>03</span>自分が探している投稿を探してください！
          </h3>
          <p class="mt-3 abouttext">
           投稿一覧、先生側の投稿一覧、<br>
           生徒側の投稿一覧から投稿を見たり、<br>
           ジャンル一覧、ニックネーム、ジャンル名で検索して<br>
           自分がみたい投稿を探すことができます！
          </p>
          <div class="search-img"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="m-5 float-right even">
          <h3 class="font-family about-p">
            <span>04</span>チャットを始めましょう！
          </h3>
          <p class="mt-3 abouttext">
            気になる投稿があればその人の会員ページから<br>
            チャットするボタンを押してチャットを始めてください！<br>
            簡単な自己紹介から始めるとスムーズにやりとりができます!<br>
            先生同士、生徒同士でも繋がってください！
          </p>
          <div class="chat-img mb-5"></div>
        </div>
      </div>
  </div>
  <div class="back-btn" data-turbolinks-action="replace">
    <%= link_to image_tag("arrow.png"), "#" %>
  </div>
</div>