<div class="container top-page">
  <div class="row">
    <div class="main-container col">

    </div>
    <div class="col">
      <div class="top-theme">趣味を通じて<br>
      <span>最高の仲間</span><br>
      に出会ってみませんか？</div>
      <div class="btn btn-lg shadow my-3 rounded-pill bg-white"><%= link_to "はじめる", new_user_registration_path, class: "text-dark" %></div>
      <div>アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %></div>
  </div>
</div>
<footer class="text-center">
   ©Win Win Hobby
</footer>