<div class="container top-page">
  <span id="ityped"></span>
  <div class="row">
    <div class=" col">
      <div class="main-container"></div>
    </div>
    <div class="col sub">
      <div class="top-theme">趣味を通じて<br>
        <span>最高の仲間</span><br>
        に出会ってみませんか？
      </div>
      <div class="btn btn-lg shadow my-3 rounded-pill whitebtn"><%= link_to "はじめる", new_user_registration_path, class: "text-dark start-btn" %></div>
      <div class="btn btn-lg shadow my-3 rounded-pill white-guest-btn"><%= link_to 'ゲストログイン', homes_guest_sign_in_path, class: "text-dark guest-btn", method: :post %></div>
      <div class="reuser">アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %></div>
    </div>
  </div>
</div>
<!--<script src="js/index.js"></script>-->
<script>
ityped.init(document.querySelector("#ityped"), {
    strings: ['Welcome to Win Win Hobby.', '趣味の力で人生をより豊かにしましょう ！！！']
})
</script>


