<div>
<% @entries.each do |e| %>
  <% if current_user.id != e.user.id %>
    <h1 class="m-4 heading"><strong><%= e.user.nickname %>さんとのチャット</strong></h1>
  <% end %>
<% end %>
</div>
<hr>
<div id="chat">
 <%= render partial: 'rooms/chat', locals:{ message: @message, room: @room, messages: @messages } %>
</div>