<div>
<% @entries.each do |e| %>
  <% if current_user.id != e.user.id %>
    <h1><strong><%= e.user.nickname %>さんとのチャット</strong></h1>
  <% end %>
<% end %>
</div>
<hr>
<div>
 <%= render partial: 'rooms/chat', locals:{ message: @message, room: @room, messages: @messages } %>
</div>