/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import "social-share-button";

.navbar {
  background-color: #fff;
}

.box {
  width: 500px;
  border: 1px solid #b3d0d7;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  background-color: #ffffff;
}

.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.box-in {
  padding: 30px;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 670px;
}

.box-1 {
  width: 500px;
  border: 1px solid #b3d0d7;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  height: 380px;
  padding-top: 60px;
  background-color: #ffffff;
}

body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.comment-box {
  background-color: #ffffff;
}

.password-forget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 670px;
}

.box-2 {
  width: 500px;
  border: 1px solid #b3d0d7;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  height: 400px;
  padding-top: 60px;
  background-color: #ffffff;
}

.navhead {
  border-top: 3px solid rgba(179,208,215,0.6);
  border-bottom: 3px solid rgba(179,208,215,0.6);
}

.category {
  font-size: 20px;
  font-weight: bold;
}

$size: 40px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.Notification {
 .notice {
   background-color: #38AEF0;
   color: #fff;
   text-align: center;
 }
 .topalert {
   background-color: #F35500;
   color: #fff;
   text-align: center;
 }
}


.search {
  color: #0000ff;
}

.submit {
  border: 1px solid #b3d0d7;
  border-style: none;
  border: 1px solid #b3d0d7;
  background-color: #ffffff;
}


.send-form {
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.category-teacher {
  border: 2px solid #f0f8ff;
  width: 40px;
  padding: 2px;
  background-color: #4169e1;
  border-radius: 30%;
  color: #ffffff;
}

.category-student {
  border: 2px solid #f0f8ff;
  width: 40px;
  padding: 2px;
  background-color: #ff0000;
  border-radius: 30%;
  color: #ffffff;
}

.user-name {
  margin-left: 30px;
}

.logo {
  width: 70%;
  height: 70%;
}

.logo-area {
  display: inline-block;
  width: 200px
}

.pagination {
  justify-content: center;
}

// aboutページの上に戻るボタン
.back-btn {
  position: fixed;
  right: 20px;
  bottom: 60px;
}

.back-btn img {
  width: 50px;
}

.content-btn {
  display: inline-block;
  width: 200px
}


#error_explanation {
  color: #ff0000;
}

.alert-warning {
  color: #ff0000;
}