/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";

.navbar {
  background-color: #92cb97;
}

.box {
  width: 500px;
  border: 1px solid #b3d0d7;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
}

.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.box-in {
  padding: 30px;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.box-1 {
  width: 500px;
  border: 1px solid #b3d0d7;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  height: 300px;
  padding-top: 60px;
}