// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.music {
  color: #ff6c94;
}

.view {
  color: #1760a0;
}

.health {
  color: #92cb97;
}

.trip {
  color: #871900;
}

.sports {
  color: #f0821e;
}

.nature {
  color: #339900;
}

.game {
  color: #de4d4d;
}

.make {
  color: #9944cc;
}

.pets {
  color: #3aacad;
}

.skill {
  color: #ffbf1f;
}

.vehicle {
  color: #432c02;
}

.others {
  color: #ab0f50;
}

.category {
  font-size: 25px;
}

.genre-page {
  margin: 50px;
  width: 83%;
}

.ranking {
  margin-top: 40px;
}

.rank {
  position: relative;
  top: 80px;
  font-size: 30px;
}

.rank-all {
  position: absolute;
  top: 200px;

}

.tnumber {
   border: double 5px #b3d0d7;
   font-size: 20px;
   padding: 10px;
   background-color: #fff;
}

.postcount {
   border: double 5px #b3d0d7;
   font-size: 20px;
   padding: 10px;
   background-color: #fff;
}