// Place all the styles related to the Hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  width: 700px;
  height: 140px;
  border: 1px solid #b3d0d7;
  text-align: justify;
}

.post-title {
 margin: 30px;
}

.prof_image {
  border-radius: 50%;
}

.prof_name {
  margin-left: 5px;
}

.hobby {
  margin-top: 30px;
  margin-left: 15px;
}

// .hobby_name {
//   margin-bottom: 20px;
// }

.hobby-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 2px solid #b3d0d7;
  width: 500px;
  margin-left: 300px;
  height: 500px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  padding: 50px;
  background-color: #ffffff;
}

.music {
  color: #ff6c94;
}

.view {
  color: #1760a0;
}

.health {
  color: #92cb97;
}

.trip {
  color: #871900;
}

.sports {
  color: #f0821e;
}

.nature {
  color: #339900;
}

.game {
  color: #de4d4d;
}

.make {
  color: #9944cc;
}

.pets {
  color: #3aacad;
}

.skill {
  color: #ffbf1f;
}

.vehicle {
  color: #432c02;
}

.others {
  color: #ab0f50;
}

