// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  background-image: image-url('top.jpg');
  height: 600px;
  margin: 70px;
  background-size:contain;
  background-repeat: no-repeat;
}


.top-theme {
  margin-top: 150px;
  font-size: 40px;
  font-weight: bold;
}


.shadow {
  color: #fff !important;
}

.signup-img {
  background-image: image-url('signup.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.post-img {
  background-image: image-url('post.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.search-img {
  background-image: image-url('search.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.chat-img {
  background-image: image-url('chat.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

@media screen and (max-width:425px) {
  .main-container {
  background-image: image-url('top.jpg');
  height: 300px;
  width: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  }

  .top-theme {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  }

  .whitebtn {
    height: 20px !important;
    position: relative;
    width: 50px;
  }

  .start-btn {
    font-size: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
  }

  .reuser {
    font-size: 9px;
  }

  .sub {
    margin-left: 100px;
  }

  .abouttheme {
    font-size: 15px;
  }
}