// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  background-image: image-url('top.jpg');
  height: 600px;
  margin: 70px;
  background-size:contain;
  background-repeat: no-repeat;
}


.top-theme {
  margin-top: 150px;
  font-size: 40px;
  font-weight: bold;
}


.shadow {
  color: #fff !important;
}

.signup-img {
  background-image: image-url('signup.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.post-img {
  background-image: image-url('post.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.search-img {
  background-image: image-url('search.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

.chat-img {
  background-image: image-url('chat.png');
  height: 300px;
  background-size:contain;
  background-repeat: no-repeat;
  width: 400px;
}

// 数字透過
.about-p {
   position: relative;
   padding-top: 40px;
   padding-left: 60px;
}

.about-p span {
   position: absolute;
   top: 0;
   left: 10px;
   font-size: 70px;
   color: rgba(186,85,211,0.3);
   border-bottom: 3px solid rgba(186,85,211,0.5);
}

.whitebtn {
 background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.white-guest-btn {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

// aboutページの上に戻るボタン
.back-btn {
  position: fixed;
  right: 20px;
  bottom: 60px;
}

.back-btn img {
  width: 50px;
}

.fade_off {
  opacity: 0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
}

.fade_on {
    opacity: 1;
}

#ityped {
  color: #00608d;
  font-size: 30px;
  font-weight: bold;
}

.ityped-cursor {
    font-size: 1em;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:425px) {
  .main-container {
    background-image: image-url('top.jpg');
    height: 300px;
    width: 300px;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .top-theme {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .whitebtn {
    height: 20px !important;
    position: relative;
    width: 50px;
  }

  .white-guest-btn {
    height: 20px !important;
    position: relative;
    width: 80px;
  }

  .start-btn {
    font-size: 9px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
  }

  .guest-btn {
    font-size: 9px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 80px;
  }

  .reuser {
    font-size: 9px;
  }

  .sub {
    margin-left: 100px;
  }

  .abouttheme {
    font-size: 15px;
  }

  .howto {
    text-align: center;
  }

  .about-p{
    font-size: 15px;
    text-align: center;
  }

  .about-p span {
    font-size: 30px;
    text-align: center;
  }

  .signup-img {
    background-image: image-url('signup.png');
    height: 200px;
    background-size:contain;
    background-repeat: no-repeat;
    width: 200px;
    display: inline-block;
    text-align: center;
  }

  .post-img {
    background-image: image-url('post.png');
    height: 200px;
    background-size:contain;
    background-repeat: no-repeat;
    width: 200px;
  }

  .search-img {
    background-image: image-url('search.png');
    height: 200px;
    background-size:contain;
    background-repeat: no-repeat;
    width: 200px;
    display: inline-block;
    text-align: center;
  }

  .chat-img {
    background-image: image-url('chat.png');
    height: 200px;
    background-size:contain;
    background-repeat: no-repeat;
    width: 200px;
    display: inline-block;
    text-align: center;
  }

  .back-btn img {
    width: 20px;
  }

  .abouttext {
    font-size: 10px;
  }

  #ityped {
    color: #4b0082;
    font-size: 15px;
    font-weight: bold;
  }

}