// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  background-color: #ffffff;
}

.hobby-name {
  color: #0000cd;
}

@media screen and (max-width:425px) {
  .search-head {
    font-size: 20px;
    font-weight: bold;
  }
}
