// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.introduction {
  width: 700px;
  height: 100px;
  border: 1px solid #b3d0d7;
  margin: 0 auto;
}

.follor {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.following {
  margin-right: 150px;
}

.hobby {
  margin-top: 30px;
  margin-left: 15px;
}

.comment {
  width: 500px;
  height: 140px;
  border: 1px solid #b3d0d7;
  text-align: justify;
}

.button {
  margin-top: 30px;
  margin-left: 15px;
}

.mypage-top {
  margin: 50px;
}

.user-category {
  font-size: 40px;
}

.prof-box {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #b3d0d7;
  padding: 50px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
  background-color: #ffffff;
}

.prof-edit {
  margin-top: 50px;
  margin-bottom: 50px;
}

.font-family {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

.waku2 {
  padding:7px;
  border:2px solid #e6e6fa;
  background:#fff;
  box-shadow: 1px 1px 5px rgba(20,20,20,0.2); /* positionの基準とするためrelativeを与えます。 */
  border-radius: 4px;
}

